@media screen and (max-width: 1200px) {
    .nav-item a {
        font-size: 1rem;
    }

    .nav-item a {
        margin-left: 5px;
    }

    .navbar-nav {
        padding: 15px !important;
    }

    .navbar-brand img {
        max-width: 60px;
    }

    .astro_details_card_main {
        padding: 20px;
    }

    /* 
    .hero_section_btns {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    .hero_section_btns .common_btn:first-child {
        margin-right: 0px;
        margin-bottom: 20px;
    } */

    .chat_btn_main .round_Shap_btn {
        padding: 10px 20px !important;
    }

    .login_btn {
        padding: 11px 35px !important;
        font-size: 16px;
    }

    .margin_left {
        margin-left: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .section_main_heading {
        font-size: 2rem;
    }

    .pooja_booking_section .section-subtitle {
        margin: 20px 0;
    }

    .astro_card_inner .astro_img {
        width: 140px;
        height: 160px;
    }

    .astro_card_content_side {
        margin-left: 10px;
    }

    .astro_card {
        background-color: rgb(255, 151, 151);
    }

    .astro_card h6 {
        margin-top: 13px;
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .astro_card .astro_expertise,
    .astro_card .astro_exp,
    .astro_card .astro_rate,
    .astro_card .astro_free_Call {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .astro_card .astro_free_Call {
        margin-bottom: 0;
    }

    .astro_card .online_btn,
    .astro_card .Chat_btn {
        right: 10px;
    }

    .astro_card .online_btn,
    .astro_card .Chat_btn,
    .rating_badge {
        font-size: 14px;
        padding: 6px 8px !important;
    }

    .astro_card .online_btn div {
        width: 10px;
        height: 10px;
    }

    .astro_card_content_side .check {
        max-width: 20px;
        margin-left: 3px;
        margin-top: -4px;
    }

    .Chat_btn svg {
        font-size: 18px;
    }

    .categories_card_main {
        max-width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .HeaderBreadcrumb_main {
        margin-top: 85px;
    }

    .hero_content h2 {
        font-size: 2rem;
        margin-bottom: 16px;
    }

    .hero_content p {
        font-size: 1rem;
        margin-bottom: 40px;
    }

    .common_btn {
        font-size: 0.9rem;
        padding: 14px 10px;
    }

    .common_btn img {
        max-width: 20px;
        margin-right: 10px;
    }

    .hero_section_main {
        margin-top: 0;
        /* padding-top: 500px; */
    }

    .navbar {
        background-color: transparent;
    }

    .navbar_main_div {
        padding-top: 0;
    }

    .hero_img {
        display: none;
    }

    .hero_section_btns {
        display: flex;
        /* flex-direction: row; */
    }

    .hero_section_btns a {
        width: 100%;
        text-align: center;
    }

    .hero_section_btns a:first-child {
        margin-right: 0px;
        /* margin-bottom: 20px; */
    }

    .hero_section_main {
        height: auto;
        min-height: auto;
        padding: 60px 0;
        padding-top: 120px;
        /* margin-top: 95px; */
    }

    .astro_card_inner {
        /* flex-direction: column; */
    }

    .astro_card_content_side {
        margin-top: 20px;
    }

    /* .astro_card_content_side {
        margin-left: 0;
    } */

    .astro_card .online_btn {
        font-size: 14px;
        padding: 6px 12px;
        top: 0;
        right: 20px;
    }

    .astro_card .Chat_btn {
        font-size: 14px;
        padding: 6px 12px;
    }

    .astro_card h6 {
        font-size: 1.2rem;
        margin-bottom: 10px;
        margin-top: 0;
    }

    .astro_card .astro_free_Call {
        font-size: 16px;
    }

    .astro_card_content_side .check {
        max-width: 24px;
    }

    .astro_details_card_profile .profile {
        max-width: 100px;
    }

    .astro_details_card_profile_content h4 {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .astro_details_card_profile_content .astro_charge_rate {
        margin-top: 0px;
    }

    .astro_details_card_main {
        padding: 24px;
        flex-direction: column;
    }

    .astro_share_btn_main {
        position: absolute;

        top: 20px;
        right: 20px;
    }

    .astro_details_card_btn_side {
        align-items: flex-start;
        margin-top: 30px;
    }

    .astro_details_card_profile {
        margin-right: 20px;
    }

    .follow_btn {
        padding: 8px;
    }

    .stats_section_card {
        height: auto;
        width: auto;
        padding: 40px;
    }

    .refernote p {
        max-width: 100%;
    }

    .PoojaBookingCardcol {
        margin-top: 40px;
    }

    .why_astrova_card {
        height: auto;
        margin-bottom: 30px;
    }

    .chat_btn_main .round_Shap_btn {
        padding: 10px 10px !important;
    }
}

@media screen and (max-width: 768px) {
    .astro_card {
        margin-right: 0;
    }

    .All_Referrals_wrapper {
        padding: 54px 20px;
    }

    .News_card_image {
        min-height: 120px;
        min-width: 120px;
        height: 120px;
        width: 120px;
    }

    .News_card_image img {
        max-width: 80px;
    }

    .section-subtitle {
        margin-top: 20px;
    }



    .blog_detail_img img {
        border-radius: 15px;
        height: auto;
    }

    .review-card {
        margin-right: 20px;
    }


    .second_slider_main {
        /* margin-top: 60px; */
    }

    .second_slider_main .content {
        margin-top: 30px;
        text-align: center;
    }

    .second_slider_main {
        padding: 30px;

    }

    .second_slider_main .content h5 {
        font-size: 1.5rem;
        margin-bottom: 16px;
    }

    .second_slider_main .content p {
        font-size: 1rem;
    }

    .carousel-indicators {
        bottom: -35px !important;
    }

    .section_main_heading {
        font-size: 1.5rem;
    }

    .view_all_btn {
        font-size: .9rem;
        padding: 6px 8px;
    }
    .astro_main_Section .container {
    padding: 0 12px;
}
.astro_main_Section .container .container {
    padding: 0;
}

    .LiveAstro_Page_Header {
        /* margin-top: 50px;
        margin-bottom: 30px; */
    }

    .live_Astro_card_main_outer {
        margin-right: 10px;
    }

    .live_Astro_card_main_outer:last-child .live_Astro_card_main {
        margin-bottom: 0;
    }

    .categories_card_main h5 {
        font-size: 1.2rem;
    }

    .categories_card_main .icon_circle img {
        max-width: 46px;
    }

    .cate_header .LiveAstro_Page_Header {
        padding-top: 0px;
    }

    .categories_card_main {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .categories_main_Section {
        border-radius: 30px;
    }

    .footer_main_section {
        padding: 50px 0 20px 0;
        border-radius: 30px 30px 0 0;
    }

    .footer_single_col:first-child {
        margin-bottom: 30px;
    }

    .footer_content_col {
        margin-bottom: 20px;
    }

    .footer_links a {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .footer_content_col p {
        max-width: 100%;
        font-size: 14px;
    }

    .footer_content_col img {
        max-width: 60px;
    }

    .footer_single_col h3 {
        font-size: 1.1rem;
        margin-bottom: 20px;
    }

    .social_icons .social_icon {
        width: 40px;
        height: 40px;
        min-width: 40px;
        min-height: 40px;
    }

    .social_icons a img {
        max-width: 20px;
    }

    .astro_rating_main_inner {
        max-width: 100%;
    }

    .astro_about_section_main h3 {
        font-size: 1.5rem;
    }

    .astro_status_tabs .astro_filter_cat_main {
        justify-content: flex-start;
    }

    .Astrologer_list_main_section .astro_details_card_main {
        align-items:
            center;
    }
    .astro_filter_cat_main button {
        padding: 2px 8px;
        font-size: 13px;
    }
    .astro_filter_cat_main .category_icon {
        font-size: 16px;
        margin-right: 10px;
    }

    .astro_filter_cat_main {
        padding: 10px;
    }

    .Astro_call_video_btn {
        width: 50px;
        height: 50px;
    }
    .history_product_card .history-card .status_side .avatar{
        max-width: 100px;
    }
    .history-card .details {
    display: block;
    margin-bottom: 17px;
}
.payement_card_main{
    padding: 8px;       
    margin: 10px 0;
}
.wallet_deducation_box {
    width: 40px;
    height: 40px;
    font-size: 16px;
}
.payement_card_main h3{
    font-size: 1rem;margin: 0 0 8px;
}
.payment-log {
    display: block;
}
.payement_card__last_col {
    display: flex
;
    flex-direction: column;
    align-items: start;
    margin-top: 12px;
}
.payement_card_main .payement_add{
    font-size: 1.2rem;
}
    .product_detail img {
        max-width: 100px;
        margin-right: 20px;
    }

    .product_detail h4 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .product_detail p,
    .buy_again_btn,
    .History_Product_card h2,
    .wallet_note {
        font-size: 1.2rem;
    }

    .History_Product_card .order_info p {
        font-size: 14px;
    }

    .History_Product_cards_main {
        margin: 40px 0;
    }

    .astro_main_Section {
        /* margin-bottom: 0; */
    }
}

@media screen and (max-width: 767px) {
    .astro-profile{
        display: block;    padding: 20px 10px;
    }
    .astro_details_card_main {
        flex-direction: column;
        padding: 20px 10px;
    }
    ul.navbar-nav li {
        width: 100%;
    }
    .navbar-nav .dropdown-menu{
        border:none;
    }
    button.navbar-toggler {
        border: transparent;
        color: #fff;
        background: #fff;
    }
    .astro_details_card_profile {
        margin-right: 10px;
    }
    .wallet_info_card_main{
        padding: 15px;
        margin:20px 0;
    }
    .wallet_info_card_main .common_btn{
        padding: 10px 17px;
    }
    .astro_details_card_profile .profile {
        max-width: 70px;
    }

    .astro_details_card_profile_content h4 {
        margin-bottom: 0;
    }

    .astro_details_card_profile_content p {
        margin-bottom: 5px;
        font-size: 14px;
    }

    .astro_details_card_profile_content .astro_charge_rate p:last-child {
        font-size: 12px;
        margin-left: 5px;
    }

    .astro_details_card_profile_content .astro_charge_rate p {
        font-size: 16px;
    }

    .astro_details_card_profile .rating {
        margin-top: 5px;
        padding: 5px 10px;
        width: 28%;
        margin-bottom: 10px;
    }

    .astro_details_card_profile .rating h3 {
        font-size: 14px;
    }

    .astro_share_btn_main {
        right: 10px;
        top: 14px;
    }

    .astro_details_card_btn_side {
        margin-top: 0;
    }

    .astro_details_card_profile_content h4 {
        font-size: 1.1rem;
    }

    .astro_details_card_profile_content h4 img {
        max-width: 20px;
    }

    .astro_share_btn {
        min-width: 30px;
        min-height: 30px;
        width: 30px;
        height: 30px;
        margin-left: 8px;
    }

    .chat_btn_main .round_Shap_btn {
        padding: 6px 10px !important;
        font-size: 14px;
    }
    .chat_btn_main .round_Shap_btn svg{
    font-size: 14px !important;
    margin-right: 6px !important;
}

    .astro_info_btn {
        width: 30px;
        height: 30px;
    }

    .astro_info_btn .icon {
        font-size: 20px;
    }

    .astro_details_card_main {
        margin: 40px 0;
    }


    .astro_about_section_main h3 {
        margin-bottom: 20px;
    }

    .expert_astro_card_inner {
        margin: 0 5px;
    }

    .astro_details_action_btn {
        padding: 14px 20px;
    }

    .astro_details_action_btn .icon {
        margin-right: 20px;
    }

    .follow_section {
        padding: 20px;
        flex-direction: column;
    }

    .follow_section h3 {
        font-size: 1.5rem;
        margin-bottom: 16px;
    }

    .follow_section p {
        margin-bottom: 20px;
    }

    .expert_astro_card {
        padding-bottom: 0;
    }

    .astro_share_btn_main .follow_btn {
        margin-bottom: 0;
        padding: 5px !important;
        font-size: 14px;
    }

    .astro_share_btn svg {
        font-size: 14px;
    }

    .pooja_booking_section {
        padding: 40px 0 30px 0;
    }

    .astro_details_card_profile_content .astro_charge_rate {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .follow_btn {
        font-size: 14px;
        margin-bottom: 10px;
        width: 100%;
    }

    .chat_btn {
        margin-bottom: 0px;
        width: auto;
    }
    .Astrologer_list_main_section .astro_details_card_profile .profile {
        max-width: 80px;
    }

    .Astrologer_list_main_section .astro_details_card_profile_content p {
        margin-bottom: 5px;
        font-size: 14px;
    }

    .Astrologer_list_main_section .astro_details_card_profile_content .check {
        max-width: 20px;
        margin-left: 5px;
    }

    .Astrologer_list_main_section .astro_details_card_main {
        flex-direction: row;
    }

    .Astro_call_video_btn_main:first-child .Astro_call_video_btn {
        margin-right: 10px;
    }

    .Astro_call_video_btn {
        width: 40px;
        height: 40px;
    }

    .Astro_call_video_btn svg {
        max-width: 14px;
    }

    .Astrologer_list_main_section .astro_details_card_main {
        margin-top: 0;
        display: block;
        padding: 20px;
    }

    .ongoing_card .ongoing_img_wrapper .live_btn {
        padding: 6px 24px;
        font-size: 16px;
        bottom: 10px;
    }

    .ongoing_name {
        font-size: 1rem;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .ongoing_name img {
        max-width: 20px;
        margin-top: -5px;
        margin-left: 5px;
    }

    .ongoing_card {
        margin-bottom: 30px;
    }

    .live-info .date {
        font-size: 14px;
    }

    .upcoming-live-card {
        padding: 30px;
        margin-bottom: 40px;
    }

    /* .gx-5 {
        margin-right: -24px !important;
    } */

    .ribbon {
        top: 70px;
        left: -26px;
    }

    .upcoming_list_wrapper .profile-img {
        width: 100px;
        height: 100px;
    }

    .upcoming_list_wrapper .live-info h3,
    .live-info .date {
        margin-bottom: 10px;
    }

    .live_tabs_main .astro_filter_cat_main {
        justify-content: flex-start;
    }

    .history-card {
        padding: 10px;
    }

    .history-card .details img {
        max-width: 60px;
        margin-right: 15px;
    }

    .history-card .details h5 {
        font-size: 1.2rem;
    }

    .status-tag {
        font-size: 14px;
        padding: 10px 14px;
    }

    .history-card .details p {
        font-size: 14px;
    }

    .stats_section_card {
        padding: 20px;
    }

    .stats_section_card p {
        font-size: 1rem;
        margin-top: 20px;
    }

    .stats_section_card h2 {
        font-size: 2rem;
    }

    .refernote {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .refernote p {
        font-size: 1rem;
    }

    .All_Referrals_wrapper {
        padding: 20px;
    }

    .All_Referrals_wrapper h2 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .All_Referrals_card {
        padding: 10px;
        margin-bottom: 20px;
    }

    .All_Referrals_card_inner img {
        margin-right: 15px;
        max-width: 50px;
    }

    .All_Referrals_card_inner h6 {
        font-size: 1rem;
        margin-bottom: 5px;
    }

    .All_Referrals_card_inner p {
        font-size: 14px;
    }

    .All_Referrals_card_amount_box {
        font-size: 1rem;
    }

    .breadcrumb_inner a,
    .breadcrumb_inner span {
        font-size: 1rem;
    }

    .HeaderBreadcrumb_main {
        padding: 14px 0;
    }

    .referral_main_section {
        margin-top: 40px;
    }

    .product_detail h4 {
        /* font-size: 1.2rem; */
        margin-bottom: 10px;
    }

    .product_detail {
        flex-direction: column;
        align-items: flex-start;
    }

    .buy_again_btn {
        margin-top: 20px;
    }

    .chat_btn_main {
        margin-top: 10px;
    }

    .booking_form_btn {
        flex-direction: column-reverse;

    }


    .booking_form_btn button {
        min-width: 100%;
    }


    .input_box input,
    .input_box select {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1rem;

    }

    .input_box label {
        font-size: 1rem;
    }

    .booking_appo_form_main {
        padding: 20px;
    }

    .booking_appo_form_main .large_btn,
    .cancel_btn {
        font-size: 18px;
        padding: 14px 10px !important;
    }

    .puja_main_div .blog-card {
        margin: 0;
        margin-bottom: 30px;
    }

    .read-more,
    .round_Shap_btn {
        padding: 11px 20px !important;
    }

    .hero_section_main {
        background-size: 150% 100%;
    }

    .astro_card_inner .astro_img {
        width: 100px;
        height: 160px;
    }

    .astro_card .online_btn {
        right: 5px;
        font-size: 12px;
        top: -5px;
    }

    .astro_card .Chat_btn {
        right: 5px;
        font-size: 12px;
    }

    .astro_card_content_side {
        margin-top: 5px;
    }

    .Chat_btn svg {
        font-size: 14px;
    }

    .astro_card .astro_expertise,
    .astro_card .astro_exp,
    .astro_card .astro_rate,
    .astro_card .astro_free_Call {
        font-size: 13px;
    }

    .astro_card .online_btn div {
        width: 7px;
        height: 7px;
    }

    .astro_card h6 {
        font-size: 1.1rem;
    }

    .pooja_card .blog-title,
    .pooja_card .blog-content p {
        font-size: 1rem;
    }

    .read-more,
    .round_Shap_btn {
        padding: 7px 14px !important;
        font-size: 16px;
    }

    .hero_section_btns {
        flex-direction: column;
    }

    .hero_section_btns .round_Shap_btn {
        padding: 12px 14px !important;
    }

    .hero_section_btns .round_Shap_btn:first-child {
        margin-bottom: 20px;
    }

    .section_space {
        margin: 40px 0;
    }

    .LiveAstro_Page_Header {
        margin-bottom: 36px;
    }

    .astro_card {
        margin-bottom: 10px;
    }

    .categories_card_main {
        padding: 35px 10px;
    }

    .pooja_card .blog-title {
        height: 42px;
    }

    .customer_stories_main {
        margin: 40px 0 0 0;
    }

    .news_sectionMain {
        margin-top: 40px;
    }

    .section-subtitle {
        margin-top: -20px;
        margin-bottom: 30px;
    }

    .why_astrova_card {
        padding: 24px 16px;
    }

    .why_astrova_card h3 {
        height: auto;
        margin-bottom: 10px;
    }

    .why_astrova_main {
        margin-bottom: 0;
    }

    .feedbackMian_section .cate_header .LiveAstro_Page_Header {
        padding-top: 10px;
    }

    .feedbackMian_section {
        margin-bottom: 40px;
    }

    .review-card {
        padding: 25px 15px;
    }

    .stats_section_card .underline {
        width: 65px;
    }

    .live_tabs_main .astro_filter_cat_main button {
        padding: 6px 18px;
        margin: 0 4px;
        font-size: 1rem;
    }
    .ongoing_card .ongoing_img_wrapper img {        
    height: 165px;
}
}